In [14]:
import numpy as np
import pandas as pd
import re
import collections

data = pd.read_csv('Final_Dataset_Location.csv')
data.drop('Unnamed: 0', axis = 1, inplace = True)
data.head()

,HS_Code,Consignee,Exporter,Goods_Description,Country_Origin,Gross_Mass_KGS,Customs_Value,Currency,Exchange_Rate,Date,Month,Year,latitude,longitude,name,Customs_Value_PHP,USD_to_PHP,Customs_Value_USD
0,84241090000,TSUNEISHI HEAVY INDUSTRIES CEBU INC,S.J. CORPORATION LTD.,"FIRE HOSE, WRENCH, IMO SYMBOL STICKER, ETC.",KR,4896.02,49884.0,USD,47.166,2016-01-02,1,2016,35.907757,127.766922,Republic of Korea,2352828.744,47.166,49884.0
1,84241090000,TSUNEISHI HEAVY INDUSTRIES CEBU INC,"SEAPLUS CO., LTD.",FIRE FIGHTING SYSTEM,KR,25490.00,53000.0,USD,47.166,2016-01-02,1,2016,35.907757,127.766922,Republic of Korea,2499798.000,47.166,53000.0
2,40091100000,SAMSUNG ELECTRO-MECHANICS,JIN TECH COMPANY,FAN,KR,23.00,1340.0,USD,47.166,2016-01-05,1,2016,35.907757,127.766922,Republic of Korea,63202.440,47.166,1340.0
3,84241090000,TSUNEISHI HEAVY INDUSTRIES CEBU INC,"SEAPLUS CO., LTD",S.T.C. FIRE FIGHTING SYSTEM,KR,710.00,20550.0,USD,47.070,2016-01-11,1,2016,35.907757,127.766922,Republic of Korea,967288.500,47.070,20550.0
4,84241090000,TSUNEISHI HEAVY INDUSTRIES CEBU INC,"SEAPLUS CO., LTD",S.T.C. H.P FIRE FIGHTING SYSTEM,KR,690.00,14000.0,USD,47.679,2016-01-18,1,2016,35.907757,127.766922,Republic of Korea,667506.000,47.679,14000.0

In [3]:
data.HS_Code.unique()

array([84241090000, 40091100000, 38130000000, 40081190000, 29033990000])

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8304 entries, 0 to 8303
Data columns (total 18 columns):
HS_Code              8304 non-null int64
Consignee            8304 non-null object
Exporter             8304 non-null object
Goods_Description    8279 non-null object
Country_Origin       8304 non-null object
Gross_Mass_KGS       8304 non-null float64
Customs_Value        8304 non-null float64
Currency             8304 non-null object
Exchange_Rate        8304 non-null float64
Date                 8304 non-null object
Month                8304 non-null int64
Year                 8304 non-null int64
latitude             8304 non-null float64
longitude            8304 non-null float64
name                 8304 non-null object
Customs_Value_PHP    8304 non-null float64
USD_to_PHP           8304 non-null float64
Customs_Value_USD    8304 non-null float64
dtypes: float64(8), int64(3), object(7)
memory usage: 1.1+ MB

In [16]:
temp1 = data[data['HS_Code'] == 84241090000]
unique1 = temp1['Goods_Description'].unique()
string1 = ''
for i in range(len(unique1)):
    string1 += str(unique1[i])
counter1 = collections.Counter(re.split(' |,', string1))
counter1.most_common(10)

[('FIRE', 315),
 ('EXTINGUISHER', 217),
 ('', 175),
 ('&', 136),
 ('EMPTY', 108),
 ('CYLINDER', 98),
 ('FOR', 55),
 ('AND', 53),
 ('CYLINDERS', 45),
 ('WITH', 37)]

In [17]:
temp2 = data[data['HS_Code'] == 40091100000]
unique2 = temp2['Goods_Description'].unique()
string2 = ''
for i in range(len(unique2)):
    string2 += str(unique2[i])
counter2 = collections.Counter(re.split(' |,', string2))
counter2.most_common(10)

[('', 380),
 ('HOSE', 308),
 ('RUBBER', 145),
 ('FOR', 91),
 ('TUBE', 69),
 ('INSULATION', 67),
 ('FOAM', 53),
 ('PC', 51),
 ('PCS', 47),
 ('PARTS', 43)]

In [18]:
temp3 = data[data['HS_Code'] == 38130000000]
unique3 = temp3['Goods_Description'].unique()
string3 = ''
for i in range(len(unique3)):
    string3 += str(unique3[i])
counter3 = collections.Counter(re.split(' |,', string3))
counter3.most_common(10)

[('DRY', 59),
 ('FIRE', 43),
 ('FOAM', 41),
 ('POWDER', 40),
 ('', 27),
 ('OF', 22),
 ('FIGHTING', 20),
 ('AFFF', 19),
 ('EXTINGUISHING', 19),
 ('FOR', 19)]

In [19]:
temp4 = data[data['HS_Code'] == 40081190000]
unique4 = temp4['Goods_Description'].unique()
string4 = ''
for i in range(len(unique4)):
    string4 += str(unique4[i])
counter4 = collections.Counter(re.split(' |,', string4))
counter4.most_common(10)

[('RUBBER', 124),
 ('', 102),
 ('INSULATION', 63),
 ('SHEET', 42),
 ('FOAM', 31),
 ('PLATE', 25),
 ('SILICONE', 17),
 ('X', 15),
 ('CLEAN', 15),
 ('FOR', 14)]

In [20]:
temp5 = data[data['HS_Code'] == 29033990000]
unique5 = temp5['Goods_Description'].unique()
string5 = ''
for i in range(len(unique5)):
    string5 += str(unique5[i])
counter5 = collections.Counter(re.split(' |,', string5))
counter5.most_common(10)

[('GAS', 116),
 ('REFRIGERANT', 83),
 ('R134A', 56),
 ('', 49),
 ('1', 31),
 ('20', 31),
 ('IN', 30),
 ('STC', 28),
 ('stc:', 24),
 ('DSX', 23)]